/*------------*/
/*  ABOUT   */
/*-----------*/
#about{
    padding: 60px 20px;
}
#about .container{
    text-align: center;
    padding: 0px 12px;
}

#about h2 {
    font-size: 30px;
}

#about .img-container{
    padding-bottom: 20px;
}

#about .img-container img {
    width: 80%;
    max-width: 300px;
}


@media (min-width: 750px) {
    /*------------*/
    /*  ABOUT   */
    /*-----------*/   
    #about h2 {
        font-size: 40px;
    }

    #about p{
        max-width: 1050px;
        margin: 0 auto;
        font-size: 20px;
    }

    #about .img-container{
        display: inline-block;
        padding: 20px;
    }
    
    #about .img-container img {
        width: 35em;
        height: 13em;
        max-width: 300px;
    }

}